:root {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

@font-face {
  font-family: "The Battle Continuez";
  src: url("./fonts/the-battle-continuez/TheBattleCont.ttf") format("truetype");
}

html,
.body-gallery,
.gallery,
.gallery * {
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}

.body-gallery {
  background-image: url("images/textures/Wall_texture_9.jpg");
  background-size: cover;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(40rem, 100%), 1fr));
  grid-auto-flow: dense;
  align-items: stretch;
  justify-content: stretch;
  gap: calc(1rem + 3vw);
  padding: calc(1rem + 3vw);
}

/* headings */

h1 {
  font-family: "The Battle Continuez";
  font-size: clamp(3rem, 5vw, 10rem);
  text-align: center;
  margin-top: clamp(8rem, 5vw, 15rem);
  color: goldenrod;
  text-shadow: 0.3rem 0.3rem 0.3rem black;
  transform: scaleX(2);
}

/* figures */

figure {
  position: relative;
  border: 0.5rem solid goldenrod;
  box-shadow: 0 0 1rem black;
  outline: 0.1rem solid black;
  aspect-ratio: 1/1;
  object-fit: scale-down;
  object-position: 50% 50%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

figure:nth-of-type(odd) {
  grid-column: span 2;
  grid-row: span 2;
}

img {
  width: 100%;
  height: 100%;
}

figure:not(.preview-image):hover figcaption {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
}

figcaption span {
  display: block;
}

figure:not(.preview-image):hover img {
  filter: blur(0.2rem);
  transition: filter 0.2s ease-in-out;
}

figcaption {
  display: none;
}

em {
  font-style: oblique;
  font-weight: bold;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: inherit;
}

/* progress bar */

.progress {
  height: 2rem;
  background-image: url("images/textures/Wall_texture_9.jpg");
  background-size: cover;
  transform-origin: 0 50%;
  animation: grow-progress linear;
  animation-timeline: scroll();
  z-index: 5;
}

#header,
#footer {
  position: sticky;
  height: 2rem;
  z-index: 2;
}

#header {
  top: 0;
  box-shadow: 1rem 1rem 1rem black;
}

#footer {
  bottom: 0;
  box-shadow: -1rem -1rem 1rem black;
}

/* animations */

@keyframes grow-progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@media screen and (max-width: 768px) {
  figure:nth-of-type(odd) {
    grid-column: span 1;
    grid-row: span 1;
  }

  #header,
  #footer {
    display: none;
  }
}
