:root {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

main:has(figure) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-auto-flow: dense;
  grid-gap: 3em;
  align-items: stretch;
  justify-content: stretch;
}

/* figures */

figure {
  position: relative;
  border: 0.5rem solid goldenrod;
  aspect-ratio: 1/1;
  object-fit: scale-down;
  object-position: 50% 50%;
  overflow: hidden;
}

figure:nth-of-type(odd) {
  grid-column: span 2;
  grid-row: span 2;
}

img {
  width: 100%;
  height: 100%;
}

figure:not(.preview-image):hover figcaption {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.5rem;
}

figcaption span {
  display: block;
}

figure:not(.preview-image):hover img {
  filter: blur(0.2rem);
  transition: filter 0.2s ease-in-out;
}

figcaption {
  display: none;
}

em {
  font-style: oblique;
  font-weight: bold;
  white-space: nowrap;
}

/* preview window */

.user-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-options div {
  display: flex;
  gap: 1rem;
}

.button-preview {
  font-family: Impact, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: calc(1.6rem * 1.5);
  padding: calc(0.5rem * 1.7);
  border: white solid 0.2rem;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: url("./images/textures/Wall_texture_9.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  gap: 2rem;
}

footer {
  display: none;
}

@media print {
  .button-preview {
    display: none;
  }

  .preview-image {
    visibility: visible;
  }

  body {
    max-width: 100vw;
    max-height: 90vh;
    width: auto;
    height: auto;
    background-image: none;
  }

  footer {
    display: block;
    font-size: 1.5rem;
  }
}
